<div class="container-home">
  <div class="overlay">
    <div class="btn-box">
      <a href="/getProfile" class="blue waves-effect waves-light btn-large top-btn"><i class="material-icons left">cloud</i>Profile</a>
      <a class="blue waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>What's In Stock?</a>
      <a class="blue waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Racquets</a>
      <a class="blue waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Schedule</a>
    </div>
  </div>
</div>
<script src="js/home.js"></script>
