<div class="container-landing">
  <div class="overlay flex-container">
    <div class="btn-box">
      <div class="header-box flex-container">
        <h1>S</h1>
      </div>
      <h2>Stringz</h2>
      <% include ./_login %>
      <% include ./_signup %>
      <!-- <a class="waves-effect waves-light btn-large" href="/signup">Sign Up</a> -->
    </div>
  </div>
</div>
