<nav class="blue">

<ul id="slide-out" class="sidenav">
  <% if (user) { %>
  <li><div class="user-view">
    <div class="background">
      <img src="images/tennis_park.jpg">
    </div>
    <a href="#user"><img class="circle" src="images/tennis_dude.jpg"></a>
    <a href="#name"><span class="white-text name">Welcome</span></a>
  </div></li>
  <li><a class="waves-effect" href="/"><i class="material-icons">cloud</i>Home</a></li>
  <li><a class="waves-effect" href="/getProfile"><i class="material-icons">cloud</i>Profile</a></li>
  <li><a class="waves-effect" href="#"><i class="material-icons">cloud</i>Today's Racquets</a></li>
  <li><a class="waves-effect" href="/getRacquets"><i class="material-icons">cloud</i>All Racquets</a></li>
  <li><a class="waves-effect" href="#"><i class="material-icons">cloud</i>What's in Stock?</a></li>
  <li><div class="divider"></div></li>
  <li><a class="waves-effect" href="/logout"><i class="material-icons">cloud</i>Logout</a></li>
  <% } else { %>
    <li><div class="user-view">
      <div class="background">
        <img src="images/tennis_park.jpg">
      </div>
      <a href="#name"><span class="white-text name">Welcome to Stringz</span></a>
    </div></li>
    <li><a class="waves-effect" href="#"><i class="material-icons">cloud</i>Login</a></li>
    <li><a class="waves-effect" href="#"><i class="material-icons">cloud</i>Signup</a></li>
  <% } %>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
</nav>
