<a class="btn-floating btn-large waves-effect waves-light red darken-4 modal-trigger" href="#modal2"><i class="material-icons">add</i></a>

<!-- Modal Structure -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h3>Please Enter Stringing Details</h3>
    <div class="row">
      <form method="POST" action="/api/racquets" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="stringer" type="text" name="stringer" class="validate">
            <label for="stringer">Who's Stringing? <i>(Stringer Name)</i></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="owner" type="text" name="owner" class="validate">
            <label for="owner">Who's it for? <i>(Member Name)</i></label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <!-- <i class="material-icons prefix">textsms</i> -->
                <input type="text" id="autocomplete-input" name="inventoryItems" class="autocomplete">
                <label for="autocomplete-input">Main String</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <!-- <i class="material-icons prefix">textsms</i> -->
                <input type="text" id="autocomplete-input" name="inventoryItems" class="autocomplete">
                <label for="autocomplete-input">Cross String</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="tension" name="tension" type="number" class="validate">
            <label for="tension">Tension</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <!-- <i class="material-icons prefix">textsms</i> -->
                <input type="text" id="autocomplete-input" name="inventoryItems" class="autocomplete">
                <label for="autocomplete-input">Grip</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="notes" type="text" class="validate">
            <label for="notes">Additional Notes</label>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col s12">
            <button type="submit" class="blue waves-effect waves-light btn">Submit</button>
          </div>
        </div> -->

        <div class="row">
          <button type="submit" class="blue waves-effect waves-light btn"><a onclick="M.toast({html: 'Adding Racquet...', classes: 'rounded'})" class="btn blue">Submit</a></button>
        </div>
      </form>
    </div>
  </div>
</div>
