<a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modal2"><i class="material-icons">add</i></a>

<!-- Modal Structure -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h3>Please enter stringing details</h3>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" class="validate">
            <label for="name">Member Name</label>
          </div>
        </div>
        <div class="row">
          <!-- can we use this to populate member email? -->
          <div class="input-field col s12">
            <input disabled value="I am not editable" id="disabled" type="text" class="validate">
            <label for="disabled">Disabled</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="string" type="text" class="validate">
            <label for="string">String</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="tension" type="text" class="validate">
            <label for="tension">Tension</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="grip" type="text" class="validate">
            <label for="grip">Grip</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="notes" type="text" class="validate">
            <label for="notes">Additional Notes</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button type="submit" class="blue waves-effect waves-light btn">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
