<% include ./_header %>
<% include ./_nav %>

<div class="container">

  <h1>Stringz</h1>
  <% if (!user) { %>
    <p>Please Login</p>
    <div class="content">
      <% include ./_login %>
    </div>
  <% } else {%>

  <% } %>

</div>

<% include ./_footer %>
