<% include ./_header %>

  <% if (!user) { %>
    <% include ./_landing %>
  <% } else {%>
    <% include ./_nav %>
    <!-- should not be a nav bar on home page in final version...it's redundant-->
    <div class="container">
      <% include ./_home %>
    </div>
  <% } %>

<% include ./_footer %>
