<div class="container-racquets">

  <div class="racquets-header">
      <h1>Inventory</h1>
  </div>

  <div class="media">
    <div class="media-left"><img src="" alt=""></div>
    <div class="media-body">
      <ul class="collection">
        <% for (var racquet of racquets) { %>
        <li class="collection-item avatar">
          <img src="images/tennis_dude.jpg" alt="" class="circle">
          <span class="title"><%= racquet.owner %></span>
          <% for (var inventoryItems of racquet.inventoryItems) { %>
            <p><%= inventoryItems %></p>
          <% } %>
          <p><%= racquets.tension %></p>
          <a href="#!" class="secondary-content"><i class="material-icons">more</i></a>            </li>
          <% } %>
      </ul>
    </div>
  </div>

</div>
