<% include ./_header %>

  <% if (user) { %>
    <% include ./_nav %>
  <% } %>
    <div class="container">
        <%- body %>
    </div>
    <% if (user) { %>
      <% include ./_footer %>
    <% } %>
