<div class="container-racquets">

  <div class="racquets-header">
      <h1>Racquets</h1>
  </div>

  <div>
    <ul class="racquetCollection">
      <% for (var racquet of racquets) { %>
        <p><%= racquet.owner %></p>
      <% } %>
    </ul>
  </div>

</div>
